In [1]:
# ALL IMPORTS

# <!--BASIC & PANDAS: -->
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# <!-- SQL: -->
import sqlite3 
conn = sqlite3.connect('data.db')
cur = conn.cursor()

# <!-- WEBSCARAPING AND APIs -->
import pandas as pd
from bs4 import BeautifulSoup
import requests
import re
import time

In [29]:
df_100 = pd.read_csv('../df_100.csv')

In [30]:
df_100.genre_ids = df_100.genre_ids.apply(lambda x: eval(x))

In [31]:
genre_list = []
for genres in df.genre_ids:
    for genre in genres:
        if genre not in genre_list:
            genre_list.append(genre)

In [33]:
genre_list

['Action',
 'Adventure',
 'Science Fiction',
 'Fantasy',
 'Thriller',
 'Family',
 'Animation',
 'Romance',
 'Comedy',
 'Crime',
 'Drama',
 'Music',
 'War',
 'Horror',
 'Western',
 'Mystery']

In [39]:
pd.options.display.max_columns = 100

In [40]:
for genre in genre_list:
    df_100[genre] = df_100['genre_ids'].apply(lambda x: genre in x)
    
df_100.head()

,Unnamed: 0,id,genre_ids,original_title,title,release_date,popularity,vote_average,vote_count,budget,revenue,imdb_id,originalTitle,startYear,genres,averageRating,numVotes,Gross Profit,Action,Adventure,Science Fiction,Fantasy,Thriller,Family,Animation,Romance,Comedy,Crime,Drama,Music,War,Horror,Western,Mystery
0,41,299534,"[Action, Adventure, Science Fiction]",Avengers: Endgame,Avengers: Endgame,2019-04-24,38.570,83.0,11389,356000000.0,2.797801e+09,tt4154796,Avengers: Endgame,2019.0,"Action,Adventure,Drama",8.5,674091,2.441801e+09,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False
1,3515,140607,"[Action, Adventure, Fantasy, Science Fiction]",Star Wars: The Force Awakens,Star Wars: The Force Awakens,2015-12-15,28.812,74.0,13865,245000000.0,2.068224e+09,tt2488496,Star Wars: Episode VII - The Force Awakens,2015.0,"Action,Adventure,Sci-Fi",7.9,827462,1.823224e+09,True,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False
2,11,299536,"[Action, Adventure, Science Fiction]",Avengers: Infinity War,Avengers: Infinity War,2018-04-25,84.768,83.0,16897,300000000.0,2.046240e+09,tt4154756,Avengers: Infinity War,2018.0,"Action,Adventure,Sci-Fi",8.5,750111,1.746240e+09,True,True,True,False,False,False,False,False,False,False,False,False,False,False,False,False
3,1658,135397,"[Action, Adventure, Science Fiction, Thriller]",Jurassic World,Jurassic World,2015-06-06,25.921,66.0,15085,150000000.0,1.671713e+09,tt0369610,Jurassic World,2015.0,"Action,Adventure,Sci-Fi",7.0,556879,1.521713e+09,True,True,True,False,True,False,False,False,False,False,False,False,False,False,False,False
4,28,420818,"[Adventure, Family]",The Lion King,The Lion King,2019-07-12,39.216,71.0,4581,260000000.0,1.656943e+09,tt6105098,The Lion King,2019.0,"Adventure,Animation,Drama",6.9,169643,1.396943e+09,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,False

In [42]:
df_100['Comedy'].sum()/len(df_100['Action'])

0.3

In [27]:
for genre in df.genre_ids:
    df_100[genre]= genre in df_100['genre_ids']

TypeError: unhashable type: 'list'

In [25]:
type(df.genres[0])

str

In [18]:
df_100

,Unnamed: 0,id,genre_ids,original_title,title,release_date,popularity,vote_average,vote_count,budget,revenue,imdb_id,originalTitle,startYear,genres,averageRating,numVotes,Gross Profit,Action
0,41,299534,"[Action, Adventure, Science Fiction]",Avengers: Endgame,Avengers: Endgame,2019-04-24,38.570,83.0,11389,356000000.0,2.797801e+09,tt4154796,Avengers: Endgame,2019.0,"Action,Adventure,Drama",8.5,674091,2.441801e+09,0
1,3515,140607,"[Action, Adventure, Fantasy, Science Fiction]",Star Wars: The Force Awakens,Star Wars: The Force Awakens,2015-12-15,28.812,74.0,13865,245000000.0,2.068224e+09,tt2488496,Star Wars: Episode VII - The Force Awakens,2015.0,"Action,Adventure,Sci-Fi",7.9,827462,1.823224e+09,0
2,11,299536,"[Action, Adventure, Science Fiction]",Avengers: Infinity War,Avengers: Infinity War,2018-04-25,84.768,83.0,16897,300000000.0,2.046240e+09,tt4154756,Avengers: Infinity War,2018.0,"Action,Adventure,Sci-Fi",8.5,750111,1.746240e+09,0
3,1658,135397,"[Action, Adventure, Science Fiction, Thriller]",Jurassic World,Jurassic World,2015-06-06,25.921,66.0,15085,150000000.0,1.671713e+09,tt0369610,Jurassic World,2015.0,"Action,Adventure,Sci-Fi",7.0,556879,1.521713e+09,0
4,28,420818,"[Adventure, Family]",The Lion King,The Lion King,2019-07-12,39.216,71.0,4581,260000000.0,1.656943e+09,tt6105098,The Lion King,2019.0,"Adventure,Animation,Drama",6.9,169643,1.396943e+09,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1734,324668,"[Action, Thriller]",Jason Bourne,Jason Bourne,2016-07-27,17.458,62.0,3899,120000000.0,4.154849e+08,tt4196776,Jason Bourne,2016.0,"Action,Thriller",6.6,197985,2.954849e+08,0
96,2718,396422,"[Horror, Mystery, Thriller]",Annabelle: Creation,Annabelle: Creation,2017-08-03,16.383,65.0,3612,15000000.0,3.050922e+08,tt5140878,Annabelle: Creation,2017.0,"Horror,Mystery,Thriller",6.5,102780,2.900922e+08,-1
97,31,87101,"[Science Fiction, Action, Thriller, Adventure]",Terminator Genisys,Terminator Genisys,2015-06-23,36.211,59.0,5845,155000000.0,4.406035e+08,tt1340138,Terminator Genisys,2015.0,"Action,Adventure,Sci-Fi",6.4,248576,2.856035e+08,0
98,29,324857,"[Action, Adventure, Animation, Comedy, Science...",Spider-Man: Into the Spider-Verse,Spider-Man: Into the Spider-Verse,2018-12-06,44.866,84.0,6424,90000000.0,3.754504e+08,tt4633694,Spider-Man: Into the Spider-Verse,2018.0,"Action,Adventure,Animation",8.4,298350,2.854504e+08,0
99,2738,282035,"[Action, Adventure, Fantasy, Horror, Thriller]",The Mummy,The Mummy,2017-06-06,12.564,55.0,4934,125000000.0,4.092316e+08,tt2345759,The Mummy,2017.0,"Action,Adventure,Fantasy",5.4,163967,2.842316e+08,0