In [178]:
import pandas as pd

In [179]:
df_imdb1 = pd.read_csv('df_imdb.csv')

/Users/lenaya/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [180]:
df_imdb1.tail()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
6603595,6603595,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6603596,6603596,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6603597,6603597,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6603598,6603598,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6603599,6603599,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [181]:
sy  =  df_imdb1['startYear']
sy

0          1894
1          1892
2          1892
3          1892
4          1893
           ...
6603595    2010
6603596    2010
6603597    2010
6603598    2015
6603599    2014
Name: startYear, Length: 6603600, dtype: object

In [182]:
sy = pd.to_numeric(sy, errors='coerce')
sy.dtype

sy.dropna(inplace=True)
int_sy = sy.astype(int)

In [183]:
int_sy.sort_values()

3514510    1874
3039897    1878
5612658    1881
4535163    1883
5974839    1885
           ...
1271607    2027
1907313    2027
4614726    2027
1513476    2027
4407239    2115
Name: startYear, Length: 6159478, dtype: int64

In [184]:
years = [2015,2016, 2017, 2018, 2019]

int_sy_1 = int_sy[int_sy.isin(years)]

In [185]:

int_sy_1

67690      2018
67836      2018
87501      2019
89512      2019
98085      2017
           ...
6603561    2019
6603567    2019
6603573    2019
6603577    2019
6603598    2015
Name: startYear, Length: 1682524, dtype: int64

In [186]:
df_imdb1['titleType']

0              short
1              short
2              short
3              short
4              short
             ...
6603595    tvEpisode
6603596    tvEpisode
6603597    tvEpisode
6603598        short
6603599    tvEpisode
Name: titleType, Length: 6603600, dtype: object

In [187]:
df_imdb1['startYear'] = int_sy

In [188]:
 df_imdb1['startYear'] = pd.to_numeric(df_imdb1['startYear'], errors='coerce')

In [189]:
df_imdb1['startYear'].dtype

dtype('float64')

In [190]:
df_imdb1['startYear'].dropna(inplace=True)

In [191]:
df_imdb1['startYear']=df_imdb1['startYear'].astype(int)

In [192]:
df_imdb1['startYear'].dtype

dtype('float64')

In [193]:
df_imdb1.head()

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,0,tt0000001,short,Carmencita,Carmencita,0,1894.0,\N,1,"Documentary,Short"
1,1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,\N,5,"Animation,Short"
2,2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892.0,\N,4,"Animation,Comedy,Romance"
3,3,tt0000004,short,Un bon bock,Un bon bock,0,1892.0,\N,12,"Animation,Short"
4,4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,\N,1,"Comedy,Short"

In [194]:
years = [2015,2016, 2017, 2018, 2019]

df_imdb1 = df_imdb1[df_imdb1['startYear'].isin(years)]

In [195]:
df_imdb1.

SyntaxError: invalid syntax (<ipython-input-195-3903cd416c69>, line 1)

In [ ]:
df_imdb1 = df_imdb1.loc[df_imdb1['titleType']=='movie']

In [ ]:
df_imdb1

In [ ]:
pwd

In [ ]:
ls

In [ ]:
df_rating = pd.read_csv('title.ratings.tsv', sep = '\t')

In [ ]:
df_rating.shape

In [ ]:
df_imdb_tot = df_imdb1.merge(df_rating)

In [ ]:
df_imdb_tot

In [ ]:
df_imdb_tot = df_imdb_tot.loc[df_imdb_tot['isAdult']==0]

In [ ]:
df_imdb_tot.head()

In [ ]:
df_imdb_tot=df_imdb_tot.drop("titleType", axis=1)

In [ ]:
df_imdb_tot=df_imdb_tot.drop("isAdult", axis=1)

In [ ]:
df_imdb_tot=df_imdb_tot.drop("endYear", axis=1)

In [ ]:
df_imdb_tot=df_imdb_tot.drop("isAdult", axis=1)

In [ ]:
df_imdb_tot

In [ ]:
df_imdb_tot=df_imdb_tot.drop("Unnamed: 0", axis=1)

In [ ]:
df_imdb_tot=df_imdb_tot.drop("primaryTitle", axis=1)

In [ ]:
df_imdb_fin = df_imdb_tot.sort_values(by=['averageRating'], ascending=False)

In [ ]:
df_imdb_fin

In [196]:
pwd

'/Users/lenaya/DS/Flatiron_Mod_1_Project'

In [197]:
df_imdb_fin.to_csv('/Users/lenaya/DS/Flatiron_Mod_1_Project/df_imdb_fin.csv')