In [15]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [16]:
df_1 = pd.read_csv('CSVs/MovieDB_df.csv')

In [17]:
df_1.sort_values(by=['budget'], ascending=False)

,Unnamed: 0,id,genre_ids,original_title,title,release_date,popularity,vote_average,vote_count,budget,revenue,imdb_id
4793,4793,227973,"['Adventure', 'Animation', 'Comedy', 'Family']",The Peanuts Movie,The Peanuts Movie,2015-11-01,11.384,66.0,981,"$99,000,000.00","$246,233,113.00",tt2452042
5503,5503,298721,"['Drama', 'Fantasy']",รักที่ขอนแก่น,Cemetery of Splendour,2015-09-02,3.867,53.0,78,"$980,000.00",$0.00,tt2818654
3430,3430,1734,"['Action', 'Adventure', 'Fantasy']",The Mummy Returns,The Mummy Returns,2001-05-04,14.889,62.0,4382,"$98,000,000.00","$433,013,274.00",tt0209163
17,17,359724,"['Action', 'Drama']",Ford v Ferrari,Ford v Ferrari,2019-11-13,55.865,78.0,1730,"$97,600,000.00","$220,803,003.00",tt1950186
2034,2034,263115,"['Action', 'Drama', 'Science Fiction']",Logan,Logan,2017-02-28,29.391,78.0,13594,"$97,000,000.00","$619,021,436.00",tt3315342
...,...,...,...,...,...,...,...,...,...,...,...,...
2779,2779,484862,"['Action', 'Animation', 'Comedy']",Scooby-Doo! & Batman: The Brave and the Bold,Scooby-Doo! & Batman: The Brave and the Bold,2018-01-09,5.594,65.0,54,$0.00,$0.00,tt7578566
2778,2778,516038,['Comedy'],Fary Is the New Black,Fary Is the New Black,2018-04-03,6.370,70.0,59,$0.00,$0.00,tt8201924
2777,2777,438348,['Comedy'],Knock,Knock,2017-10-18,8.014,61.0,252,$0.00,$0.00,tt6515342
2775,2775,406385,"['Action', 'Comedy', 'Crime']",Smetto quando voglio - Masterclass,I Can Quit Whenever I Want 2: Masterclass,2017-02-02,5.536,75.0,828,$0.00,$0.00,tt5897288
6910,6910,324300,['Documentary'],Rolling Papers,Rolling Papers,2015-03-15,2.744,60.0,9,$0.00,$0.00,tt3621360

In [18]:
df_1=df_1.drop('Unnamed: 0', axis =1)

In [19]:
df_2 = pd.read_csv('df_imdb_fin.csv')

In [20]:
df_2.head()

,Unnamed: 0,tconst,originalTitle,startYear,genres,averageRating,numVotes
0,1328,tt10551082,Shattered Waves,2017.0,"Drama,History",10.0,8
1,2475,tt11214476,The Destiny Samaj of Banjaraa,2019.0,Drama,10.0,5
2,918,tt10378512,Path of the Daff,2019.0,Documentary,10.0,11
3,1467,tt10620492,Khoussouf,2016.0,Drama,10.0,8
4,1449,tt10608660,Identitas - Uguali ma diversi,2019.0,Documentary,10.0,6

In [21]:
df_2.rename(columns={'imdb_id	':'imdb_id'}, inplace=True)

In [22]:
df_2=df_2.drop('Unnamed: 0', axis =1)

In [23]:
df_tot = df_1.merge(df_2)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
df_tot.head()

In [ ]:
df_tot.drop(df_tot.index[df_tot['revenue'] == '$0.00'], inplace = True)

In [ ]:
df_tot.head()

In [ ]:
df_tot.sort_values(by=['revenue'], ascending=False)

In [ ]:
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

df_tot['budget']=df_tot['budget'].apply(convert_currency)

In [ ]:
df_tot

In [ ]:
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

df_tot['revenue']=df_tot['revenue'].apply(convert_currency)

In [ ]:
df_tot

In [ ]:
df_tot['Gross Profit']= df_tot.revenue-df_tot.budget

In [ ]:
df_tot

In [ ]:
df_tot.drop(df_tot.index[df_tot['budget'] == 0], inplace = True) # Dropping a 'budget' values that are $0.

In [ ]:
df_tot.to_csv('df_tot.csv')

In [ ]:
df_tot['Gross Profit']= df_tot.revenue-df_tot.budget    #Creating a 'Gross Profit' column

In [ ]:
df_tot.head()

In [ ]:
df_10=df_tot.sort_values(by=['averageRating', 'Gross Profit'], ascending=False).head(10) # Creating a dataframe for movies with highest rating and highest gross product.

In [ ]:
df_100=df_tot.sort_values(by=['Gross Profit'], ascending=False).head(100) # Creating a dataframe for movies with highest rating and highest gross product.

In [ ]:
df_10.to_csv('df_10.csv')

In [ ]:
df_100.to_csv('df_100.csv')

In [ ]:
df_10

In [ ]:
df_10.plot.bar(x='bk', y='Gross Profit')

In [ ]:
df_10['genre_ids'].str.get('')

In [ ]:
df_act = df_10[df_10['genres'] =='Action']

In [ ]:
df_10['genres'].str.split()

In [ ]:
filter2 = df_10["genre_ids"].isin(['Action'])

In [ ]:
filter2

In [ ]:
count = df_10.groupby(['genre_ids']).count()

In [ ]:

df_100['Drama']= df_100["genres"].str.find('Drama')

In [ ]:
test

In [27]:
df_100

NameError: name 'df_100' is not defined

In [26]:
genre_list = []
for genres in df_100.genre_ids:
    for genre in genres:
        if genre not in genre_list:
            genre_list.append(genre)

NameError: name 'df_100' is not defined

In [24]:
for genre in genre_list:
    df_100[genre] = df_100['genre_ids'].apply(lambda x: genre in x)
    
df_100.head()

NameError: name 'genre_list' is not defined